### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

# Jekyll build outputs
_site/
.jekyll-cache/
.jekyll-metadata
.bundle/
vendor/
venv/

# Python
__pycache__/
